// COLOR

$white:     #FFF;
$black:     #000;
$mandy:     #ED5365;
$wispPink:  #FDEFEF;

// FONT SIZE

$browser: 16px;

/*
** FUNCTIONS
*/

@function rem ($target, $context: $browser) {
  @return ($target / $context) * 1rem;
}

/*
** THEME START
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  font: 400 #{rem(18px)}/#{rem(28px)} sans-serif;
  display: flex;
  justify-content: center;
  background: $mandy;
}

/*
** Classes
*/

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.primary {
  width: 100%;
  background: $white;
  margin-top: rem(10px);
  border: rem(3px) solid $black;
  padding: rem(12px) rem(14px);
  font-size: rem(16px);
  font-weight: 700;
  cursor: pointer;
}

/*
** Calculator
*/

.loan {
  align-self: center;
  width: 100%;
  max-width: 400px;
  margin: 0 rem(16px);
  padding: rem(24px) rem(18px);
  border-radius: rem(4px);
  background: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.display {
  background: $mandy;
  margin-bottom: rem(12px);
  padding: rem(8px) 0;
  border-radius: rem(4px);
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .3);
}

.heading {
  color: $white;
  font-size: rem(32px);
  text-align: center;
  line-height: rem(42px);
  text-shadow: .5px .5px 2px rgba(0, 0, 0, .6);
}

.preview {
  position: relative;
}

.application {
  .item {
    margin-bottom: rem(14px);
  }

  .wrapper {
    display: flex;
  }

  h3 {
    display: block;
    font-size: rem(18px);
    font-weight: 700;
    line-height: rem(28px);
  }

  input {
    width: 100%;
    background: $wispPink;
    border: 0;
    border-bottom: rem(2px) solid $black;
    padding: rem(12px) rem(14px);
    font-size: rem(16px);
  }

  input,
  button {
    &:focus {
      outline: none;
    }
  }
}

/*
** Overlay
*/

.overlay {
  width: 100%;
  height: 100%;
  background: $white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  .primary {
    position: inherit;
    bottom: 0;
  }
}

.total {
  margin: rem(6px) 0 rem(12px);
  border-bottom: rem(4px) solid $black;
  padding: rem(18px) 0;
  font-size: rem(36px);
  line-height: rem(46px);
  text-align: center;
  background: $wispPink;
}

.grid {
  display: flex;

  .half {
    width: 48%;
    margin-right: rem(14px);
    background: $wispPink;
    border-bottom: rem(3px) solid $black;

    &:last-child {
      margin-right: 0;
    }
  }

  h3 {
    font-size: rem(14px);
    line-height: rem(24px);
    padding-bottom: rem(6px);
    background: $white;
  }

  p {
    font-size: rem(18px);
    line-height: rem(28px);
    font-weight: 700;
    text-align: center;
    padding: rem(8px) 0 rem(6px);
  }
}

.disclaimer {
  margin-top: rem(24px);
  text-align: center;
  font-size: rem(16px);
  line-height: rem(22px);
}