* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  font: 400 18px/28px sans-serif;
  display: flex;
  justify-content: center;
  background: #ed5365;
}

.loan {
  align-self: center;
  width: 100%;
  max-width: 400px;
  margin: 0 16px;
  padding: 24px 18px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h1 {
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 12px;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
}

.item {
  margin-bottom: 14px;
}

label {
  display: block;
}

input {
  border: 0;
  background: #fdefef;
  border-bottom: 2px solid #000;
}

input, 
button {
  width: 100%;
  font-size: 16px;
  padding: 12px 14px;
}

button {
  margin-top: 10px;
  border: 2px solid #000;
}

 //*
// MEDIA: max-width: 1200px (1199)
 //*

@media (max-width: 74.94em) {}

 //*
//** MEDIA: max-width: 992px (991)
 //*

@media (max-width: 61.94em) {}

 //*
//** MEDIA: max-width: 768px (767)
 //*

@media (max-width: 47.94em) {}

 //*
//** MEDIA: max-width: 576px (575)
 //*

@media (max-width: 35.94em) {}